<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hydra.sso.server.dao.PermissionDao">
    <select id="findPermissionListById" parameterType="map" resultType="com.hydra.sso.client.api.model.SsoPermission">

    </select>
</mapper>